$mediumDevice: 768px;
$smallerDevice: 600px;
$smallDevice: 480px;
$smallestDevice: 320px;

// Mixin for medium devices
@mixin mediumDevice {
  @media (max-width: $mediumDevice) {
    @content;
  }
}

// Mixin for smaller devices
@mixin smallerDevice {
  @media (max-width: $smallerDevice) {
    @content;
  }
}
@mixin smallDevice {
  @media (max-width: $smallDevice) {
    @content;
  }
}

.project-page {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  .see-all-projects {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--text-color-secondary);
    &:hover {
      text-decoration: underline;
    }
  }
  .project-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  .project-name {
    font-weight: 600;
    font-size: 2rem;
    @include smallerDevice {
      font-size: 1.5rem;
    }
    @include smallDevice {
      font-size: 1rem;
    }
  }
  .project-type .overview-content {
    background-color: var(--pill-color);
    padding: 0.2rem 0.5rem;
    width: max-content;
    font-size: 0.9rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color-secondary);
  }
  .project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    a {
      padding: 0.6rem 1.5rem;
      border: 1px solid var(--border-color);
      color: var(--text-color);
      border-radius: 0.7rem;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      &:nth-of-type(2) {
        background-color: var(--text-color);
        color: var(--bg-color);
      }
    }
  }

  .project-overview,
  .project-details {
    padding: 1.5rem;
    display: flex;
    gap: 1.5rem;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    align-items: center;
    overflow: auto;
    @include smallerDevice {
      flex-direction: column;
    }
    .project-thumbnail {
      width: 100%;
    }
    img {
      height: 100%;
      width: 100%;
      border-radius: 1rem;
      object-fit: cover;
    }

    .project-meta {
      padding-block: 0.5rem;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .overview-title {
        font-size: 0.9rem;
        color: var(--text-color-muted);
        font-weight: 300;
      }
      .overview-content {
        display: block;
        margin-top: 0.5rem;
        text-decoration: none;
        color: var(--text-color-secondary);
      }
      .project-tech-stack {
        .overview-content {
          font-weight: 300;
          color: var(--text-color-secondary);
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: 0.5rem;
          align-items: center;
          p {
            background-color: var(--pill-color);
            padding: 0.2rem 0.5rem;
            border-radius: 1rem;
            border: 1px solid rgba(128, 128, 128, 0.159);
          }
        }
      }
    }
  }
  .project-details {
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    .project-details--title {
      font-size: 1.3rem;
      font-weight: 600;
      font-style: italic;
      color: var(--text-color-secondary);
      padding-bottom: 1rem;
    }
    .project-about,
    .project-key-features {
      .dot {
        flex-shrink: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--accent-color);
      }
      margin-bottom: 1rem;
    }
    ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
      flex-direction: column;
      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .icon {
          flex-shrink: 0;
        }
      }
    }
  }
}
