$smallDevice: 480px;
@mixin smallDevice {
  @media (max-width: $smallDevice) {
    @content;
  }
}

.topProjects {
  .projects--title {
    font-size: 1rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  .projects-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 1rem;
    @include smallDevice {
      grid-template-columns: 1fr; /* 1 item per row */
    }
    .project {
      // flex: 0 1 calc(50% - 8px);
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      padding: 1.5rem;
      border: 1px solid var(--border-color);
      overflow: auto;
      transition: 0.2s ease;
      &:hover {
        border: 1px solid var(--border-color-hover);
      }
      img {
        margin-block: 1rem;
        border-radius: 0.4rem;
        width: 100%;
        object-fit: cover;
      }
      .project-title {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        color: var(--text-color-secondary);
        font-size: 0.9rem;
        font-weight: 600;
        font-style: italic;
      }
      .project--links {
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        > * {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .project-details {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        // padding: 1rem;

        .project-description {
          font-weight: 300;
          color: var(--text-color-secondary);
          line-height: 1.5rem;
          font-size: 0.9rem;
        }
        .project--tech-stack {
          font-weight: 300;
          color: var(--text-color-secondary);
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem;
          margin-top: 0.5rem;
          align-items: center;
          .tech {
            background-color: var(--pill-color);
            padding: 0.2rem 0.5rem;
            border-radius: 1rem;
            border: 1px solid var(--border-color-secondary);
          }
        }
      }
    }
  }
}
