$smallDevice: 480px;

@mixin smallDevice {
  @media (max-width: $smallDevice) {
    @content;
  }
}
@mixin mediumDevice {
  @media (max-width: 768px) {
    @content;
  }
}

.topbar {
  position: fixed;
  z-index: 999;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  padding-top: 1.5rem;
  transition: 0.2s ease;
  &.hidden {
    transform: translateY(-100%);
  }
  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem 4rem;
    font-size: 1rem;
    margin-right: auto;
    cursor: pointer;
    .circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: var(--accent-color);
    }
  }

  nav {
    position: relative;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border-radius: 1rem;
    width: 1245px;
    max-width: 100%;
    overflow: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 1rem;
    display: flex;
    border: 1px solid var(--border-color);
    gap: 0.5rem;

    @include smallDevice {
      overflow: unset;
      // padding: 1rem;
    }

    .navLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      @include smallDevice {
        display: none;
        &.mobile {
          padding: 1rem;
          background-color: var(--primary-color);
          border: 1px solid var(--border-color);
          border-radius: 2rem;
          position: absolute;
          top: calc(100% + 1rem);
          right: 0;
          display: flex;
          align-items: start;
          flex-direction: column;
        }
      }
    }

    .theme-toggle {
      background: transparent;
      // border: 1px solid var(--border-color);
      border: none;
      border-radius: 1.5rem;
      padding: 0.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease;
      margin-left: auto;
      // margin-right: 0.5rem;
      color: var(--text-color-secondary);

      &:hover {
        background-color: var(--secondary-color);
        border-color: var(--accent-color);
        color: var(--accent-color);
      }

      .icon {
        stroke: currentColor;
      }

      @include smallDevice {
        margin-right: 0;
        padding: 0.6rem;
      }
    }

    > .menu.icon {
      display: none;
      width: 40px;
      @include smallDevice {
        display: block;
      }
    }

    .nav-item {
      min-width: max-content;
      border-radius: 1.5rem;
      padding: 0.7rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      color: var(--text-color-secondary);
      transition: 0.1s ease;
      // @include mediumDevice {
      //   display: none;
      // }
      &.active {
        color: var(--text-color);
      }
    }
  }
}
