.contactForm {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  label {
    font-size: 0.8rem;
  }
  input,
  textarea {
    font-size: 0.9rem;
    border: none;
    color: white;
    border-radius: 1rem;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    padding: 0.75rem 1rem;
    &:focus {
      outline: 1px solid var(--accent-color);
    }
  }
  fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
  }
  #messageBox,
  #subjectField {
    min-width: 100%;
  }
  #messageBox textarea {
    height: 200px;
  }
  #submit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    background-color: var(--accent-color);
    color: white;
    border: none;
    cursor: pointer;
    .icon {
      stroke: white;
      width: 15px;
      height: 13px;
    }
  }
}
