.experiences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .experience {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    // border: 1px solid rgba(128, 128, 128, 0.259);
    .experience-details {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }
    .experience-company {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .experience-duration,
    .experience-location {
      color: rgb(174, 174, 174);
    }
    .experience-description {
      margin-block: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 1rem;
    }
    .experience-skills {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      flex-wrap: wrap;
      > * {
        background-color: #212121;
        font-size: 0.9rem;
        padding: 0.2rem 0.5rem;
        color: lightgray;
        border-radius: 3rem;
        border: 1px solid rgba(128, 128, 128, 0.159);
      }
    }
    img {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
