.experiences {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  .experience {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    .experience-details {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }
    .experience-company {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .experience-duration,
    .experience-location {
      color: var(--text-color-secondary);
    }
    .experience-description {
      color: var(--text-color);
      margin-block: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 1rem;
      li::marker {
        color: var(--accent-color);
      }
    }
    .experience-skills {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      flex-wrap: wrap;
      > * {
        background-color: var(--pill-color);
        font-size: 0.9rem;
        padding: 0.2rem 0.5rem;
        color: var(--text-color-secondary);
        border-radius: 3rem;
        border: 1px solid var(--border-color-secondary);
      }
    }
    img {
      flex-shrink: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}
