.tab {
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  // overflow: auto;
  font-family: cursive;

  .menubar {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    .navbar {
      width: 100%;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 1rem;
      overflow: auto;
    }
    .nav-item {
      text-align: center;
      border-radius: 0.7rem;
      padding: 0.6rem 1rem;
      cursor: pointer;
      color: gray;
      background-color: var(--ternary-color);
      border: 1px solid var(--border-color-secondary);
      flex-shrink: 0;
      min-width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.3rem;
      transition: 0.2s ease;
      &.active {
        // flex: 1;
        background-color: var(--secondary-color);
        color: white;
        .icon {
          // stroke: white;
          stroke-width: 2px;
        }
      }
    }
  }
  .aboutMe,
  .experience,
  .message,
  .socials {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
    max-width: 700px;
    .greet {
      font-weight: 500;
    }
    .description {
      margin-top: 1rem;
      font-size: 1rem;
      color: rgb(137, 137, 137);
      line-height: 1.5rem;
      strong {
        font-weight: normal;
        font-style: italic;
        color: var(--accent-color);
      }
      p span {
        font-weight: 600;
        font-style: italic;
        color: lightgray;
      }
    }

    .techstack,
    .social-badges {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      align-items: center;
    }

    .social-badges *,
    .techstack * {
      height: 1.3rem;
      border-radius: 3rem;
      width: max-content;
    }
  }
  .message,
  .socials {
    max-width: 100%;
  }
}
