.tab {
  border: 1px solid rgba(128, 128, 128, 0.159);
  border-radius: 2rem;
  overflow: auto;
  font-family: cursive;
  background-color: #141417;
  .menubar {
    // background-color: #1e1e23;
    display: flex;
    padding: 1rem;
    align-items: center;
    .navbar {
      width: 100%;
      border: 1px solid rgba(128, 128, 128, 0.159);
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #1e1e23;
    }
    .nav-item {
      text-align: center;
      flex: 1;
      border-radius: 1rem;
      padding: 0.7rem 1rem;
      cursor: pointer;
      &.active {
        // outline: 1px solid rgba(128, 128, 128, 0.659);
        background-color: rgb(41, 41, 41);
      }
    }
  }
  .aboutMe,
  .experience {
    padding: 1.5rem;
    .description {
      margin-top: 1rem;
    }
    .description {
      font-size: 1rem;
    }
    .social-badges {
      margin-block: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    blockquote {
      margin: 1em 0;
      padding: 0.5em 1em;
      border-left: 4px solid rgba(128, 128, 128, 0.459);
      background-color: transparent;
      font-style: italic;
      color: #6a737d;
      font-size: 1rem;
      line-height: 1.5;
    }
    .techstack {
      margin-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.2rem;
      align-items: center;
    }
  }
}
