.footer {
  text-align: center;
  margin-top: auto;
  padding: 2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  > * {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-weight: 300;
    font-size: 0.8rem;
  }
}
